In [1]:
import tweepy
import pandas as pd

access_token = '4631425769-Iditx1QRFWzaoIxlHAsFyU3r7NT64WRg99Kfyq6'
access_secret = 'U5QAGQZZeG7gziUUCCV1U4LYZCDlSHOy7yghWyCoKN3MZ'
consumer_key = 'av3lpfoPuUvwp6q5OM7Go87i4'
consumer_secret = 'lWGgiM3JioWelDxsr2vyUDB7XFo9OpEocUyA4dXGAW5gC3IkM9'

def connect_to_twitter_OAuth():
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_secret)
    
    api = tweepy.API(auth)
    
    return api

api = connect_to_twitter_OAuth()

In [34]:
def extract_tweet_attributes(tweet_object):
    tweet_list = []
    
    for tweet in tweet_object:
        tweet_id = tweet.id
        text = tweet.text
        
        tweet_list.append({'tweet_id': tweet_id, 
                          'text': text})
        
    df = pd.DataFrame(tweet_list, columns=['tweet_id', 'text'])
    
    return df

df = extract_tweet_attributes(api.user_timeline(screen_name='bbchausa'))

In [32]:
df

               tweet_id                                               text
0   1505988307687202829  An ba ma’aikatan da ke son takara a Neja wa’ad...
1   1505976190800117765  Har yanzu ina da shirye-shiryen da na gabatar,...
2   1505964634871902212  Zulum ya hana a saka sunansa a ayyukan gwamnat...
3   1505951141703606274  Kotu ta tuɓe ƴan majalisar jihar Cross Rivers ...
4   1505946961807085574  Rasha ta haramta Facebook da Instagram https:/...
5   1505936674785738759  Zelensky ya ce a shirye yake ya yi gaba da gab...
6   1505934763663708173  Ɗan majalisar dattawa daga jihar Katsina Sanat...
7   1505929752036663304  Ko dan Barcelona na da bakin magana don ya ci ...
8   1505924098798538756  Yadda ƴan bindiga suka kashe hakimi suka tayar...
9   1505911555405266954  Najeriya ce kasa ta 114 cikin a jerin kasashe ...
10  1505897007361277956  Dani Alaves ya buga wa Barcelona wasa na 400 r...
11  1505891330857349129  'Yan wasan Real Madrid 11 aka gayyata tawagogi...
12  1505878758909222914  Da alama Arsenal ta saki maciji a ciyawa\nhttp...
13  1505857678245089282  Willie Obiano: Bayan sun rasa kariya, EFCC ta ...
14  1505849136058441732  Yayin da zaɓen 2023 yake ci gaba da karatowa, ...
15  1505842051769946116  Wanene zai gaji Nasir El-rufai a Kaduna?\nhttp...
16  1505830425247330304  Jirgin saman China dauke da mutum 133 ya yi ha...
17  1505830013207199744  Jirgin saman China ya yi hatsari dauke da mutu...
18  1505821558719328258  Me Bahaushe yake nufi idan ya ce "za a raba ts...
19  1505821043117731840  Tawagar Ecowas ta bar Mali ba tare da cimma wa...