In [5]:
#importing the necessary python libraries

import tweepy
import csv
import re
import io
import json
import os
import pandas as pd
import numpy as np
from datetime import datetime

In [6]:
#twitter access_credentials

access_token = '4631425769-Iditx1QRFWzaoIxlHAsFyU3r7NT64WRg99Kfyq6'
access_secret = 'U5QAGQZZeG7gziUUCCV1U4LYZCDlSHOy7yghWyCoKN3MZ'
consumer_key = 'av3lpfoPuUvwp6q5OM7Go87i4'
consumer_secret = 'lWGgiM3JioWelDxsr2vyUDB7XFo9OpEocUyA4dXGAW5gC3IkM9'

In [7]:
#connecting to twitter platform and getting authorization

def connect_to_twitter_OAuth():
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_secret)
    
    api = tweepy.API(auth)
    
    return api

api = connect_to_twitter_OAuth()

In [8]:
client = tweepy.Client(bearer_token = 'AAAAAAAAAAAAAAAAAAAAAHfbYAEAAAAAzJ0HtVwlGEPZBBEd7kWdqb%2Bs9ZE%3Dh6zp5kLmL7K8JWqrDSjyzuF9SJPMsNnxwjGSQ18eQlk0IPggkR')

In [9]:
#relevants queries to be searched

query = ['bbchausa', 'siyasa', 'bikin-sallah', 'gargajiya']
count = 3000

In [10]:
#Number of times to ietrate and date

Iteration = 25
tweets_wanted = 1000
since = "2022-04-01"

In [15]:
#query to retrieve the relevant datasets

icount = 1
while icount <= Iteration:
    tweets = []
    count = 1
    
    #for text_query in query:
    for tweet in query:
        for tweet in tweepy.Cursor(api.search_tweets,
                                  q=query,
                                   count = 400,
                                   tweet_mode = "extended").items(tweets_wanted):
            count += 1
            try:
                data = [tweet.created_at,
                       tweet.id_str,
                       tweet.retweet_count,
                       tweet.favorite_count,
                       tweet.full_text,
                       tweet.user._json['screen_name'],
                       tweet.user._json['name'],
                       tweet.user._json['created_at'],
                       tweet.user._json['followers_count'],
                       tweet.entities['urls']]
                data = tuple(data)
                tweets.append(data)
            except tweepy.TweepError as e:
                print(e.reason)
                continue
            except stopIteration:
                break
        now = datetime.now()
        print("Tweets captured at", now, ": ", count)
        df = pd.DataFrame(tweets, columns = ['created_at',
                                            'id_str',
                                            'retweet_count',
                                            'favorite_count',
                                            'full_text',
                                            'screen_name',
                                            'name',
                                            'account_creation_date',
                                            'followers_count',
                                            'urls'])

        icount = icount + 1
        if icount > Iteration:
            break

Tweets captured at 2022-05-27 16:55:01.881209 :  1001
Tweets captured at 2022-05-27 16:55:37.800956 :  2001
Tweets captured at 2022-05-27 16:56:21.886769 :  3001
Tweets captured at 2022-05-27 16:56:40.779604 :  4001
Tweets captured at 2022-05-27 16:57:00.096513 :  5001
Tweets captured at 2022-05-27 16:57:20.997045 :  6001
Tweets captured at 2022-05-27 16:57:40.301460 :  7001
Tweets captured at 2022-05-27 16:58:01.664324 :  8001
Tweets captured at 2022-05-27 16:58:21.539247 :  1001
Tweets captured at 2022-05-27 16:58:40.832875 :  2001
Tweets captured at 2022-05-27 16:59:00.566530 :  3001
Tweets captured at 2022-05-27 16:59:21.682408 :  4001
Tweets captured at 2022-05-27 16:59:42.174427 :  5001
Tweets captured at 2022-05-27 17:00:01.712280 :  6001
Tweets captured at 2022-05-27 17:00:20.314163 :  7001
Tweets captured at 2022-05-27 17:00:39.587927 :  8001

TooManyRequests: 429 Too Many Requests
88 - Rate limit exceeded

In [3]:
#checking the number of instances of the datasets retrieved
print("Number of instances retrieved: ", len(df))

#saving the retrieved data to a csv file 'thesis_hausa_data'
df.to_csv('thesis_hausa_data.csv')

NameError: name 'df' is not defined

In [33]:
df = pd.read_csv('thesis_hausa_data.csv')

In [36]:
df.head()

,Unnamed: 0,created_at,id_str,retweet_count,favorite_count,full_text,screen_name,name,account_creation_date,followers_count,urls
0,0,2022-05-27 15:57:00+00:00,1530216509963902977,0,0,@bbchausa Kena bukata ta biya,MamanSa01923156,Maman Sani,Tue May 10 10:55:33 +0000 2022,0,[]
1,1,2022-05-27 15:55:40+00:00,1530216173907890178,0,0,@Maryamdaniel31 @bbchausa Maryam,SaLeeh_Damare07,ᴰᴬᴰₛₐₗₑₑₕ📿,Thu May 19 05:31:10 +0000 2022,144,[]
2,2,2022-05-27 15:55:32+00:00,1530216141859307525,1,0,RT @Maryamdaniel31: @SaLeeh_Damare07 @bbchausa...,SaLeeh_Damare07,ᴰᴬᴰₛₐₗₑₑₕ📿,Thu May 19 05:31:10 +0000 2022,144,[]
3,3,2022-05-27 15:54:12+00:00,1530215806382006273,0,0,@ALSyakawada @its_bale papa need this before h...,yellawolf_,YELLA,Mon Apr 09 00:04:23 +0000 2012,1968,"[{'url': 'https://t.co/MW4xK3yKlI', 'expanded_..."
4,4,2022-05-27 15:54:00+00:00,1530215753399640065,21,0,RT @bbchausa: Kotun Najeriya ta amince Jonatha...,BgdMainer,MainerBgd,Sat Dec 29 16:34:42 +0000 2018,272,"[{'url': 'https://t.co/PsePtR9d5R', 'expanded_..."

In [37]:
#KEEP TRACK OF THE COUNT OF USER MENTION: 
user_mentions = []
for tweet in df.full_text:
  count = 0
  for token in str(tweet).split():
    if token.startswith('@'):
      count +=1
  user_mentions.append(count)
len(user_mentions), count

(8000, 1)

In [38]:
df['UserMention'] = user_mentions
df.head(3)

,Unnamed: 0,created_at,id_str,retweet_count,favorite_count,full_text,screen_name,name,account_creation_date,followers_count,urls,UserMention
0,0,2022-05-27 15:57:00+00:00,1530216509963902977,0,0,@bbchausa Kena bukata ta biya,MamanSa01923156,Maman Sani,Tue May 10 10:55:33 +0000 2022,0,[],1
1,1,2022-05-27 15:55:40+00:00,1530216173907890178,0,0,@Maryamdaniel31 @bbchausa Maryam,SaLeeh_Damare07,ᴰᴬᴰₛₐₗₑₑₕ📿,Thu May 19 05:31:10 +0000 2022,144,[],2
2,2,2022-05-27 15:55:32+00:00,1530216141859307525,1,0,RT @Maryamdaniel31: @SaLeeh_Damare07 @bbchausa...,SaLeeh_Damare07,ᴰᴬᴰₛₐₗₑₑₕ📿,Thu May 19 05:31:10 +0000 2022,144,[],3

In [39]:
df = df[df.UserMention<=3]
len(df)

7832

**Data Preprocessing**

During the data preprocessing, the following tasks were conducted:

1. Removing all the retweets from the datasets
2. Saving the tweets to a file
3. Adding two columns to existing dataset datagram: no_of_words and size columns
4. Removing the urls from the tweeted data in 'full_text' column
5. Calculating number of words in the text and number of unique/distinct words
6. Saving the preprocessed data
7. Checking the instances with missing text values

In [220]:
#Data Preprocessing

#removing all the retweets from the datasets
data_set = df[df['full_text'].str.contains("@", "RT") == False]

#veiwing the pure tweets
print("\nThe new Datasets")
data_set.full_text

#checking the length of the datasets after removing retweets
print("New length after removing the retweets: ", len(data_set))

The new Datasets
New length after removing the retweets:  464

In [221]:
#saving the tweets to a file

data_set.to_csv('thesis_hausa_tweet_data.csv')

In [223]:
#Datasets Preprocessing......(continuation)

#adding two columns to existing dataset datagram: no_of_words and size columns.
#raw_size, unique_size
data_set2 = data_set.assign(no_of_words=0, size=0)  


#removing the urls from the tweeted data in 'full_text' column
data_set2['full_text'] = data_set2['full_text'].replace(to_replace=r'https?:\/\/.*[\r\n]*', value='', regex=True)


#Calculating number of words in the text
count = 0
for i in data_set2['full_text']:
    word_count = len(repr((data_set2['full_text']).iloc[count]).split())
    data_set2['no_of_words'].iloc[count] = int(word_count)
    count += 1

    
#calculating the size(unique words) in the sentence
count = 0
for i in data_set2['full_text']:
    tweet_words = repr(i)

    unique_words = set(tweet_words.split(" "))
    data_set2['size'].iloc[count] = int(len(unique_words))

    count += 1

#saving the data
data_set2.to_csv('thesis_hausa_tweet_data2.csv')

In [63]:
#viewing the dataset and missing values
data_set2

print('Number of instances with missing text: ', (data_set2['full_text'].values == '').sum())

Number of instances with missing text:  0

In [64]:
#select id, full_text and size

data = data_set2[['id_str', 'full_text', 'size']]

In [67]:
#create a new column for the annotation

data.assign(category1='', category2='', annotation='').to_excel('test.xlsx')

In [66]:
data

,id_str,full_text,size
0,1530213490308395009,Asteroids: Abin da kuke buƙatar sani kan ƙaton...,16
1,1530213071465193475,Ku kasance da mu don sanin abin da ke jawo min...,15
2,1530204430515195904,Sake gina Borno ya fi min zama mataimakin shug...,12
3,1530195703603118080,Karyan banza makayace governor we. We say no t...,12
4,1530184158164701184,Best governor Mai adalci. Allah bamu I kon yin...,14
...,...,...,...
459,1529944423605452826,Namadi sambo?,3
460,1529942329062309888,NaN,1
461,1529938734690582545,Hmmmm 🤔🤔🤔🤔,3
462,1529937371025883141,Allah ya taimaka.,4
463,1529936746368188432,Oh no no problem is time enjoy,8

In [76]:
data.to_excel('annoted_data.xlsx')

In [74]:
len(data)

392

In [2]:
import pandas as pd

In [4]:
dt = pd.read_csv('tweetfile.csv')

In [13]:

#removing all the retweets from the datasets
ds = dt[dt['full_text'].str.contains("@", "RT") == False]

#removing the urls from the tweeted data in 'full_text' column
dt['full_text'] = dt['full_text'].replace(to_replace=r'https?:\/\/.*[\r\n]*', value='', regex=True)

#veiwing the pure tweets
print("\nThe new Datasets")
ds.full_text

The new Datasets

4       They dressed up as women to show support for S...
9                           Wani siyasa sai Yobe wlhy 🤣🤣🤣
12      Bayan tururuwar da yan siyasa suka yi na komaw...
13      Na jima Ina fadi ba siyasa ake a kano ba, hauk...
14      Malan Bahauce yana cewa “idan kaji shiru, lafi...
                              ...
1986    An samu tashin hankali a yayin zaben fidda gwa...
1988    Wani ɗan takarar majalisar tarayya a PDP ya su...
1989    Wallahi….siyasa sai barawon gwamnati. https://...
1991    Dan kasuwa bazai Iya siyasa ba... All your sav...
1996    Idan shurun shuwagabannin siyasa dana addinih ...
Name: full_text, Length: 598, dtype: object

In [15]:
ds.full_text

4       They dressed up as women to show support for S...
9                           Wani siyasa sai Yobe wlhy 🤣🤣🤣
12      Bayan tururuwar da yan siyasa suka yi na komaw...
13      Na jima Ina fadi ba siyasa ake a kano ba, hauk...
14      Malan Bahauce yana cewa “idan kaji shiru, lafi...
                              ...
1986    An samu tashin hankali a yayin zaben fidda gwa...
1988    Wani ɗan takarar majalisar tarayya a PDP ya su...
1989    Wallahi….siyasa sai barawon gwamnati. https://...
1991    Dan kasuwa bazai Iya siyasa ba... All your sav...
1996    Idan shurun shuwagabannin siyasa dana addinih ...
Name: full_text, Length: 598, dtype: object

In [11]:
#removing the urls from the tweeted data in 'full_text' column
ds['full_text'] = ds['full_text'].replace(to_replace=r'https?:\/\/.*[\r\n]*', value='', regex=True)

<ipython-input-11-e267d01ff87c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['full_text'] = ds['full_text'].replace(to_replace=r'https?:\/\/.*[\r\n]*', value='', regex=True)

In [16]:
ds.to_excel('new_dt.xlsx')